
// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: "Nunito", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blueTheme: hsl(210, 57%, 20%);
$blueGreen: hsla(174, 100%, 30%, 1);
$infoColor: #f68000;
// $fontColor: hsla(210, 58%, 31%, 0.83);
$fontColor: rgba(22, 51, 80, 0.82);
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66D9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
