
footer section ul {
  list-style-type: none;
  text-align: left;
  padding: 0px;
}

.footerLogo {
  width: 122px;
  margin: auto;
  margin-bottom: 34px;
}


.footer-wrapper {
  background-color: white;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  padding: 48px 0px;

}

.footer-inner {
  max-width: 1200px;
  margin: auto;
}


.footer-container {
  max-width: 1200px;
  margin: auto;

}

.footer-container div {
  padding: 0px 40px;
}

section.footer-section {
    width: 125px;
    margin: auto;
}


footer section p {
  color: #2a4c6e;
  font-weight: 500;
  font-size: 12px;
}

footer section a {
  color: #2a4c6e;
  font-weight: 500;
  font-size: 12px;
}

footer section h1 {
  color: hsla(185, 62%, 26%, 1);
  font-size: 14px;
  font-weight: 800;
}
